/* Sidebar Navigation Styling */

nav {
    z-index: 3;
    position: fixed;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    padding-top: 10rem;

    ul {
            color: rgb(145, 145, 145);
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 50%;
            list-style: none;
            margin-left: 0;
            padding-left: 0;

            li {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: 0.8rem;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    font-style: normal;
                    cursor: pointer;
                }
    }
}

.profile {
    color: white;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 15px;
    }

    h3 {  
        font-family: "Archivo Black", sans-serif;
        font-size: 23px;
        margin: 0;
        font-weight: 400;
        text-transform: uppercase;
    }

    h5 {
        font-family: "Montserrat", sans-serif;
        margin: 0 0 10px 0;
        font-weight: 600;
        margin-left: 1px;
        letter-spacing: 2.6px;
        color: rgb(145, 145, 145)
    }
}

.onlineIndicator {
    margin-top: 5px;
    background-color: rgb(47, 47, 47);
    width: fit-content; /* Set width to fit the contents */
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    p {
        color: rgb(133, 133, 133);
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 13px;
        margin: 0 12px 0 0;
    }

    .circle {
        width: 10px;
        height: 10px;
        background-color: rgb(30, 240, 30);
        margin: 0 10px 0 7px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 3px rgb(5, 167, 5);
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
    }
}

.icon {
    margin-right: 10px;
    width: 20px;
    color:rgb(145, 145, 145)
}

.navItem {
    transition: all 0.3s ease-out;
    letter-spacing: 2px;

    &:hover {
        margin-left: 3px;
    } 
}