.introText {
    font-size: 3rem;
    font-weight: 600;
    line-height: 0.8rem;
}

.typedText {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, #0091ff, #e787ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heroButton {
    animation: fadeIn 1.5s 8s backwards;
    margin-top: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        translate-y: 20px
    }

    100% {
        opacity: 1;
        translate-y: 0px
    }
}

.heroImage {
    width: 700px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
}