/* --- Google Fonts Imports --- */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* --- Site Wide Styling Rules --- */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle, rgba(1, 86, 212, 1) 0%, rgb(25, 25, 25) 65%);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overscroll-behavior-y: none;
}

/* --- remove all Link styling --- */
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

/* --- Main display area margin requirement due to sidebar Nav --- */
.main {
  margin-left: 400px;
  height: px;
}

