.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 1.5%;
    background-color: rgb(22, 22, 22);
    width: 100%;
    height: 400px;
    gap:15px;

    &:hover {
        cursor: pointer;
    }

    img {
        align-self: center;
        width: 100%;
        height: 300px;
        border-radius: 10px;
        object-fit: cover;
    }

    h3, p {
        color: white;
    }

}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 150px;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: right;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
}
