.menuContainer {
    width: 250px;
}

.mainContainter {
    padding-top: 100px;
    height: 100vh;
    box-sizing: border-box;
    z-index: 1;
    width: 85%;
    margin: 0 auto;
    /* opacity: 0; */
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}